language = Objective-C
package = platform.XCTest
headers = ${XCTEST_STUB_HEADER}
linkerOpts= -weak_framework XCTest -F${XCODE_PATH}/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks/ -weak_framework XCUIAutomation -F${XCODE_PATH}/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks/
